@using Microsoft.AspNetCore.Components.Authorization
@using ModuPOS.Shared.Constants


<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="Administrador" Context="innerContext">
            <div class="nav-item">
                <NavLink class="nav-link" href="productos">
                    <span class="bi bi-box-seam-fill" aria-hidden="true"></span> Productos
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="categorias">
                    <span class="bi bi-tags-fill" aria-hidden="true"></span> Categorías
                </NavLink>
            </div>
        </AuthorizeView>
    </Authorized>
</AuthorizeView>
